body {
  margin: 0;
  font-family:
    Fira Sans,
    sans-serif;
  background: linear-gradient(135deg, #f5f6ff, #989cba);
  color: #29235c;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h2 {
  text-align: center;
  color: #833386;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.converter-box {
  background-color: #e8e9f2;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  color: #29235c;
  width: 100%;
  max-width: 400px;

  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #59236e;
  }
}

.result-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #e8e9f2;
  color: #29235c;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
}

.line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 8px 0;
}
.top-border {
  padding-top: 8px;
  border-top: 1px solid #29235c;
}
